<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648966170991-oofsoajesc2ifj4rf57h1khue8t64nv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648966170991-oofsoajesc2ifj4rf57h1khue8t64nv7</string>
	<key>API_KEY</key>
	<string>AIzaSyBdfFAAk3yIbvYEdnI8Y12hkLdk7hbDY4w</string>
	<key>GCM_SENDER_ID</key>
	<string>648966170991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssafy.snapstory</string>
	<key>PROJECT_ID</key>
	<string>blue-limo-pjt</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-limo-pjt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648966170991:ios:2b630844fa1e2c198e609a</string>
</dict>
</plist>